In [1]:
import pandas as pd
import sys
import os
# Get the absolute path of the directory where the notebook is currently running
# This usually is /path/to/app/folder_notebook
notebook_dir = os.getcwd()

# Get the absolute path of the 'app' directory (parent of folder_notebook)
main_dir = os.path.abspath(os.path.join(notebook_dir, '..'))
db_path = os.path.join(main_dir, 'data', 'planet_fone.db')
if main_dir not in sys.path:
    sys.path.append(main_dir)
    
from utils import sql
from utils import utilities
from models.genetic_ops import fragmentation_score

2025-05-24 10:11:44,583 - INFO - get_table - Executing function: get_table
2025-05-24 10:11:44,590 - INFO - get_table - Completed function: get_table
2025-05-24 10:11:44,591 - INFO - get_table - Executing function: get_table
2025-05-24 10:11:44,604 - INFO - get_table - Completed function: get_table
2025-05-24 10:11:44,604 - INFO - get_table - Executing function: get_table
2025-05-24 10:11:44,606 - INFO - get_table - Completed function: get_table
2025-05-24 10:11:44,609 - INFO - get_table - Executing function: get_table
2025-05-24 10:11:44,622 - INFO - get_table - Completed function: get_table
2025-05-24 10:11:44,623 - INFO - get_table - Executing function: get_table
2025-05-24 10:11:44,625 - INFO - get_table - Completed function: get_table

In [2]:
lst = [3,2,1,1,2,3,3,2,1,1,2,3,3,2,1,1,2,3]
fragmentation_score(lst)

2025-05-24 10:11:44,634 - INFO - fragmentation_score - Executing function: fragmentation_score
2025-05-24 10:11:44,634 - INFO - fragmentation_score - Fragmentation score: 0.816496580927726
2025-05-24 10:11:44,635 - INFO - fragmentation_score - Completed function: fragmentation_score

0.816496580927726

In [4]:
circuits_df = pd.DataFrame([
    {"circuit_name": "BAHSAK", "cluster_id": "2", "start_freq_prob": 0.23076923076923078, "end_freq_prob": 0.0},
    {"circuit_name": "AUSMEL", "cluster_id": "1", "start_freq_prob": 0.7307692307692307, "end_freq_prob": 0.0},
    {"circuit_name": "CHISHA", "cluster_id": "5", "start_freq_prob": 0.0, "end_freq_prob": 0.038461538461538464},
    {"circuit_name": "JAPSUZ", "cluster_id": "5", "start_freq_prob": 0.0, "end_freq_prob": 0.11538461538461539},
    {"circuit_name": "SAUJED", "cluster_id": "2", "start_freq_prob": 0.0, "end_freq_prob": 0.0},
    {"circuit_name": "USAMIA", "cluster_id": "3", "start_freq_prob": 0.0, "end_freq_prob": 0.0},
    {"circuit_name": "ITAIMO", "cluster_id": "0", "start_freq_prob": 0.0, "end_freq_prob": 0.0},
    {"circuit_name": "MONMON", "cluster_id": "0", "start_freq_prob": 0.0, "end_freq_prob": 0.0},
    {"circuit_name": "SPACAT", "cluster_id": "0", "start_freq_prob": 0.0, "end_freq_prob": 0.0},
    {"circuit_name": "CANMON", "cluster_id": "3", "start_freq_prob": 0.0, "end_freq_prob": 0.0},
    {"circuit_name": "AUSSPI", "cluster_id": "0", "start_freq_prob": 0.038461538461538464, "end_freq_prob": 0.0},
    {"circuit_name": "UKGSIL", "cluster_id": "0", "start_freq_prob": 0.0, "end_freq_prob": 0.0},
    {"circuit_name": "BELSPA", "cluster_id": "0", "start_freq_prob": 0.0, "end_freq_prob": 0.0},
    {"circuit_name": "HUNBUD", "cluster_id": "0", "start_freq_prob": 0.0, "end_freq_prob": 0.0},
    {"circuit_name": "NETZAN", "cluster_id": "0", "start_freq_prob": 0.0, "end_freq_prob": 0.0},
    {"circuit_name": "ITAMON", "cluster_id": "0", "start_freq_prob": 0.0, "end_freq_prob": 0.0},
    {"circuit_name": "AZEBAK", "cluster_id": "0", "start_freq_prob": 0.0, "end_freq_prob": 0.0},
    {"circuit_name": "SINMAR", "cluster_id": "6", "start_freq_prob": 0.0, "end_freq_prob": 0.0},
    {"circuit_name": "USAAUS", "cluster_id": "3", "start_freq_prob": 0.0, "end_freq_prob": 0.0},
    {"circuit_name": "MEXMEX", "cluster_id": "3", "start_freq_prob": 0.0, "end_freq_prob": 0.0},
    {"circuit_name": "BRASAO", "cluster_id": "4", "start_freq_prob": 0.0, "end_freq_prob": 0.2692307692307692},
    {"circuit_name": "USALAS", "cluster_id": "3", "start_freq_prob": 0.0, "end_freq_prob": 0.0},
    {"circuit_name": "QATLUS", "cluster_id": "2", "start_freq_prob": 0.0, "end_freq_prob": 0.0},
    {"circuit_name": "UAEYAS", "cluster_id": "2", "start_freq_prob": 0.0, "end_freq_prob": 0.5384615384615384}
])
GEO_DF = sql.get_table('fone_geography', db_path)

2025-05-24 10:13:12,393 - INFO - get_table - Executing function: get_table
2025-05-24 10:13:12,395 - INFO - get_table - Completed function: get_table

In [7]:
merged_df = circuits_df.merge(
    GEO_DF[['code_6', 'circuit_x', 'city_x', 'country_x', 'latitude', 'longitude']],
    left_on='circuit_name',
    right_on='code_6',
    how='left'
)
merged_df = merged_df.drop(columns=['code_6'])

In [8]:
merged_df

,circuit_name,cluster_id,start_freq_prob,end_freq_prob,circuit_x,city_x,country_x,latitude,longitude
0,BAHSAK,2,0.230769,0.000000,Sakhir,Sakhir,Bahrain,26.0325,50.5106
1,AUSMEL,1,0.730769,0.000000,Melbourne,Melbourne,Australia,-37.8497,144.9680
2,CHISHA,5,0.000000,0.038462,Shanghai,Shanghai,China,31.3303,121.2246
3,JAPSUZ,5,0.000000,0.115385,Suzuka,Suzuka,Japan,34.8431,136.5419
4,SAUJED,2,0.000000,0.000000,Jeddah,Jeddah,Saudi Arabia,21.6319,39.1044
5,USAMIA,3,0.000000,0.000000,Miami,Miami,United States,25.9581,-80.2389
6,ITAIMO,0,0.000000,0.000000,Imola,Imola,Italy,44.3439,11.7167
7,MONMON,0,0.000000,0.000000,Monte Carlo,Monte Carlo,Monaco,43.7347,7.4206
8,SPACAT,0,0.000000,0.000000,Catalunya,Montmeló,Spain,41.5700,2.2611
9,CANMON,3,0.000000,0.000000,Montreal,Montreal,Canada,45.5000,-73.5228
10,AUSSPI,0,0.038462,0.000000,Spielberg,Spielberg,Austria,47.2196,14.7649
11,UKGSIL,0,0.000000,0.000000,Silverstone,Silverstone,United Kingdom,52.0786,-1.0169
12,BELSPA,0,0.000000,0.000000,Spa-Francorchamps,Stavelot,Belgium,50.4455,5.9708
13,HUNBUD,0,0.000000,0.000000,Budapest,Mogyoród,Hungary,47.5789,19.2486
14,NETZAN,0,0.000000,0.000000,Zandvoort,Zandvoort,Netherlands,52.3888,4.5409
15,ITAMON,0,0.000000,0.000000,Monza,Monza,Italy,45.6156,9.2811
16,AZEBAK,0,0.000000,0.000000,Baku,Baku,Azerbaijan,40.3725,49.8533
17,SINMAR,6,0.000000,0.000000,Marina Bay,Singapore,Singapore,1.2914,103.8645
18,USAAUS,3,0.000000,0.000000,Austin,Austin,United States,30.1328,-97.6411
19,MEXMEX,3,0.000000,0.000000,Mexico City,Mexico City,Mexico,19.4042,-99.0907
20,BRASAO,4,0.000000,0.269231,São Paulo,São Paulo,Brazil,-23.7036,-46.6997
21,USALAS,3,0.000000,0.000000,Las Vegas,Las Vegas,United States,36.1699,-115.1398
22,QATLUS,2,0.000000,0.000000,Lusail,Lusail,Qatar,25.4914,51.4542
23,UAEYAS,2,0.000000,0.538462,Yas Marina,Abu Dhabi,United Arab Emirates,24.4672,54.6031